<app-header></app-header>

<div class="container-fluid bg" style="background-image: url(assets/bg.jpg);">
  <div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6" style="text-align: center;background-color:grey; color: whitesmoke;"><br>
      <h1 class="h1" style="text-align: center;">Form Validation:</h1><br>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group" style="padding-left:10px ;">
          <label><b>Name :</b></label>&nbsp;
          <input type="name" class="formcontrol" style="width: 200px;" name="username" ngModel #name="ngModel" required>
          <span *ngIf="name.invalid && name.touched" class="error"><br>Name Can't be empty
          </span>
        </div>
        <div class="form-group">
          <label><b>Address :</b></label>&nbsp;
          <input type="address" class="formcontrol" style="width: 200px;" name="useraddress" ngModel #address="ngModel"
            required>
          <span *ngIf="address.invalid && address.touched" class="error"><br>address Can't be empty
          </span>
        </div>
        <div class="form-group" style="padding-right: 40px;">
          <label for="exampleInputEmail1"><b>Email address :</b></label>&nbsp;
          <input type="email" class="formcontrol" style="width: 200px;" name="useremail" ngModel #email="ngModel"
            required>
          <span *ngIf="email.invalid && email.touched" class="error"><br>Email Can't be empty</span>
        </div>
        <div class="form-group" style="padding-right: 10px;">
          <label><b>Password :</b></label>&nbsp;
          <input type="password" class="formcontrol" style="width: 200px;" name="password" ngModel #password="ngModel"
            required>
          <span *ngIf="password.invalid && password.touched" class="error"><br>Password Can't be empty
          </span>
        </div>

        <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
      </form><br>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<app-footer></app-footer>